@import "mixin";
@import "values";

@import url('https://fonts.googleapis.com/css?family=Jomolhari|Roboto&display=swap');

body{
    background: white;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.body_container{
    position: relative;
    //left: 7%;
    left: $body-container-left;
    overflow: hidden;
    @include move-left-animation;

    h1{
        font-family: 'Jomolhari', serif;
    }
}

#nav_container{
    height: 100vh;
    width: $nav-container-width;
    background: linear-gradient(130deg,#537895  0%, #09203f 100%);
    position: fixed;
    top: 0;
    border-right: #000 solid 3px;
    left: $nav-container-left;
    @include move-left-animation;
    color: #fff;

    #nav_button{
        height: 45px;
        width: 70px;
        cursor: pointer;
        position: absolute;
        right: -3px;
        top: 1%;
        

        .burger_1{
            @include burger-bar;
            margin: 5px auto;
        }

        .burger_2{
            @include burger-bar;
            margin: 8px auto;
        }

        .burger_3{
            @include burger-bar;
            margin: 8px auto;
        }
    }

    ul{
        list-style-type: none;
        font-size: 25px;
        line-height: 4rem;
        position: absolute;
        top: 50%;
        left: 0;
        padding-left: 15px;
        width: 100%;
        transform: translateY(-50%);
        
    }
    
}