div(id="nav_container")
    div(id="nav_button")
        div(class="burger_1")
        div(class="burger_2")
        div(class="burger_3")
    
    ul
        li  Home
        li  Orders
        li  Status